* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #344a72;
    color: white;
    line-height: 1.8;
}
a {
    text-decoration: none;
}
#container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
}
.form-wrap {
    background-color: white;
    color: #333333;
    padding: 15px 25px;
}
.form-wrap h1, .form-wrap p {
    text-align: center;
}
.form-wrap .form-group {
    margin-top: 15px;
}
.form-wrap .form-group label {
    display: block;
    color: #666666;
}
.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.form-wrap button {
    display: block;
    width: 100%;
    color: white;
    background-color: #49c1a2;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer
}
.form-wrap button:hover {
    background-color: #37a08e;
}
.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}
footer {
    text-align: center;
    margin-top: 10px;
}
footer a {
    color: #49c1a2;
}
